.header{
    background-color: rgb(54, 54, 242);
    height: 72px;
    text-align: center;
}

.input{
    width: 320px;
    height: 24px;
    margin-top: 20px;
}

.input:focus{
    outline: none;
}

.button{
    height: 30px;
}